<div th:fragment="controlsidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
            <h5 class="text-center">
                <i class="fas fa-cog"></i> Configuración
            </h5>
            <br>
            <a href="/admin-dashboard/user/new" class="btn btn-primary btn-block py-2 mt-3 d-flex justify-content-start align-items-center">
                <i class="nav-icon fas fa-user-plus mr-2"></i> Registrar nuevo usuario
            </a>
            <a href="/admin-dashboard/business/new" class="btn btn-secondary btn-block py-2 mt-3 d-flex justify-content-start align-items-center">
                <i class="nav-icon fas fa-building mr-2"></i> Crear nuevo negocio
            </a>
        </div>
    </aside>
    <!-- /.control-sidebar -->
</div>
