<div th:fragment="control-sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
            <h5>
                <i class="fas fa-cog"></i> Configuración
            </h5>
            <a th:href="@{/businesses/new}" class="btn btn-primary btn-block mt-3">
                <i class="fas fa-building"></i> Crear nuevo negocio
            </a>
        </div>
    </aside>
    <!-- /.control-sidebar -->
</div>